.discount_centered {
    /* position: absolute;
    top: 6px;
    left: 8px; */
    background: url('../../libs/images/discounticon.png') no-repeat center;
color: #fff;
background-size: cover;
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: bold;
    /* font-style:bold; */
    /* max-width: 1200px; */
    /* min-height: 100vh; */
    text-align: center;
    width: 100%;
    padding: 8px;
}

  .discount_container {
    position: relative;
    /* text-align: center; */
    color: white;
  }