.image-responsive {
  display: block;
}
@media screen and (max-width: 576px) {
  .image-responsive {
    display: none;
  }
}

.sideMargin {
  margin-top: 40px;
}
.sideImage {
  width: 70px;
  height: 80px;
}

.imgProduct {
  width: 100%;
  height: 450px;
}
/* .mobile-view {
  height: 70px;
} */
@media screen and (max-width: 576px) {
  .imgProduct {
    width: 100%;
    height: 300px;
  }
}
