/* .custom-slider-css{
    background: #eb2627 !important;
    border-radius: 0px !important;
    box-shadow: 0px 3px 6px #eb2627  !important;
    display: block !important;
    height: auto !important;
    margin-bottom: 0px !important;
} */
.splash_image{
    height: 100vh;
}