.fire {
    padding: 16px !important;
    display: flex !important;
  

}
.fire_new{
    background-color: #fff;
    /* border-radius: '20%'; */
}

.set-slide  {
    background: #fff !important;
    border-radius: 12px !important;
    box-shadow: 0px 3px 6px rgb(181 180 177 / 40%) !important;
    display: block !important;
    height: auto !important;
    margin-bottom: 10px !important;
}

.setfire {
    padding: 16px !important;
    display: flex !important;
}
.new_swiper-slide figure {
    line-height: 0;
}
.new_swiper-slide-inner {
    display: block !important;
    min-width: 56px !important;
}
.ch-lis {
    line-height: 1.4;
    font-size: 13px;
}

.ch-lis {
    color: #777;
}
.mt-1 {
    margin-top: 1rem !important;
}
.anti {
    margin-bottom: 0px;
}
.new_swiper-slide-inner img {
    max-width: 74px !important;
}
.bu-box {
    margin-left: 12px;
}
.pri-bo {
    margin-left: 15px;
}
.buy-btn-2 {
    background-color: #dddddd !important;
    color: #4c4c4c !important;
    padding: 5px 6px 5px 6px !important;
    margin-top: 5px !important;
    font-size: 13px !important;
}
.chi-pri {
    font-size: 16px;
    color: #50008b !important;
    font-weight: 700;
}
/* .owl-item  {
    background: #fff !important;
    border-radius: 12px !important;
    box-shadow: 0px 3px 6px rgb(181 180 177 / 40%) !important;
    display: block !important;
    height: auto !important;
    margin-bottom: 10px !important;
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
} */